##############################
# Some of the files in this repo are encrypted using `git-crypt`
##

# EXAMPLE
# secretfile filter=git-crypt diff=git-crypt

# *.shh filter=git-crypt diff=git-crypt
# *.weechatlog filter=git-crypt diff=git-crypt
**/irc.conf filter=git-crypt diff=git-crypt

# Don't encrypt the `.gitattributes file itself
.gitattributes !filter !diff
