vim/*.swp

# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

*.bkup

# Ignore all files with the following extension `weechatlog` recurisvely in all directories
*.weechatlog
config/irc-clients/weechat/weechat.log

# Ignore fishd.<hash-files>
config/fish/fishd.*

# Ignore those pesky .DS_Store files recursively throughout project
**/.DS_Store

# Ignore vscode project files
**/.vscode

# Ignore `watch_later` directory from mpv
config/mpv/*
