##############################
# Some of the files in this repo are encrypted using `git-crypt`
##

# EXAMPLE
# secretfile filter=git-crypt diff=git-crypt

####
# Global `git-crypt` files, ie. all files in this repo with a `.shu` 🤫
##
*.shu filter=git-crypt diff=git-crypt
# *.weechatlog filter=git-crypt diff=git-crypt
**/irc.conf.shu filter=git-crypt diff=git-crypt
jobs/bin/openvpn/** filter=git-crypt diff=git-crypt

# mpv history
**/mpv_history.log filter=git-crypt diff=git-crypt

# Don't encrypt the `.gitattributes file itself
.gitattributes !filter !diff
