# NOTE: ipatch, reload udev rules after adding this rule or others
# `udevadm control --reload-rules`

ACTION=="add", SUBSYSTEM=="backlight", RUN+="/bin/chgrp video $sys$devpath/brightness", RUN+="/bin/chmod g+w $sys$devpath/brightness"
