[Unit]
Description=launch macos qem virtual machines on boot
After=network-online.target docker.service
Requires=network-online.target docker.service

[Service]
Environment="haltcmd=kill -INT $MAINPID"
Type=forking
User=capin
ExecStart=/bin/bash -c '/home/capin/vmz/basic.mydisk.mojave.bridge.sh|| true' \
#          && /bin/bash -c '/home/capin/vmz/basic.mydisk.catalina.bridge.sh || true' \
#          && /bin/bash -c '/home/capin/vmz/basic.mydisk.bigsur.bridge.sh || true' &
ExecStop=/usr/bin/bash -c ${haltcmd}
ExecStop=/usr/bin/bash -c 'while nc localhost 7100; do sleep 1; done'

[Install]
WantedBy=multi-user.target
