[Unit]
Description=turns on backlight for internal display when using amdgpu kernel module

[Service]
ExecStart=bash -c "sleep 1 && echo 1 > /sys/class/backlight/amdgpu_bl1/brightness"

[Install]
WantedBy=multi-user.target
