# xrandr --output DP1 --mode 3840x2160
xrandr --output DP1 --mode 1920x1080

# ipatch, set capslock tap to esc, and capslock hold to control
# NOTE: requires `xcape` be installed
# REF: https://gist.github.com/tanyuan/55bca522bf50363ae4573d4bdcf06e2e
#
# make capslock behave like ctrl
setxkbmap -option ctrl:nocaps

# make short-pressed ctrl behave like escape
xcape -e 'Control_L=Escape'

# stop screen from going blank
xset s off
xset -dpms
xset s noblank

# faster key repeat NOTE: ipatch, too fast for me.
# xset r rate 210 40
